IO_LOC "led1" A13;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;

IO_LOC "led2" N16;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;

IO_LOC "btn_1" E9;
IO_PORT "btn_1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "btn_2" E8;
IO_PORT "btn_2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "btn_3" T4;
IO_PORT "btn_3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "btn_4" T5;
IO_PORT "btn_4" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

